<template>
    <div class="bg-black h-screen bg-[url(~/assets/images/round-image.png)] bg-no-repeat bg-center bg-top">
      <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.76 233.59">
        <path class="cls-1" d="M157.18,34.52H82.58c-24.73,0-44.97,20.24-44.97,44.97v74.6c0,24.74,20.24,44.97,44.97,44.97h74.6c24.73,0,44.97-20.24,44.97-44.97V79.49c0-24.73-20.24-44.97-44.97-44.97Zm-14.43,29.01c3.78-.88,7-.9,9.49,0h.01c.96,.35,1.76,1.1,2.11,2.06,.59,1.56,.8,3.43,.66,5.54-7.11,.46-17.04,4.91-27.83,12.37-3.45-2.61-6.83-4.91-10.1-6.9,9.57-6.87,18.57-11.45,25.66-13.07Zm-58.08,9.86c4.45-4.45,14.13-2.75,25.89,3.57,1.12,.6,2.27,1.25,3.44,1.94,3.28,1.95,6.68,4.22,10.16,6.79,5.71,4.19,11.6,9.21,17.38,14.87-2.18,3.04-4.58,6.13-7.21,9.24-6.48-6.46-13.1-12.09-19.48-16.7-3.46-2.5-6.85-4.7-10.1-6.58-1.16-.66-2.29-1.29-3.41-1.85-7.58-3.94-14.24-5.91-19.1-5.48,.21-2.4,1.01-4.37,2.43-5.79Zm27.59,21.98c-2.35,2.11-4.7,4.33-7.03,6.66-2.33,2.33-4.54,4.67-6.65,7.02-2.49-3.44-4.68-6.82-6.55-10.07,1.6-1.74,3.26-3.46,4.97-5.18,1.73-1.73,3.48-3.41,5.22-5.02,3.23,1.88,6.59,4.08,10.03,6.58Zm-38.29-7.6c.23-3.71,3.46-6.63,7.17-6.55,.35,.01,.69,.02,1.05,.06,.17,4.61,2.11,10.47,5.51,17.02,.58,1.11,1.2,2.25,1.87,3.41,1.88,3.26,4.08,6.64,6.58,10.1,4.61,6.37,10.23,12.99,16.68,19.46-3.12,2.62-6.22,5.02-9.26,7.18-5.65-5.77-10.65-11.63-14.84-17.32-2.57-3.48-4.84-6.88-6.78-10.16-.7-1.17-1.34-2.32-1.93-3.44-3.94-7.3-6.08-13.81-6.08-18.76,0-.35,0-.68,.02-1.01Zm-.02,64.07c-1.49,.07-2.85-.03-4.05-.34-1.65-.41-3.01-1.63-3.42-3.28v-.02c-.56-2.06-.54-4.58,0-7.44,.94-5.06,3.52-11.23,7.47-17.93,1.68-2.85,3.6-5.82,5.77-8.83,1.99,3.28,4.3,6.67,6.88,10.14-7.4,10.73-11.82,20.61-12.27,27.69-.13,.01-.25,.02-.38,.01Zm37.96-.85c-15.78,10.68-29.56,14.77-35.13,9.2-1.43-1.43-2.22-3.39-2.43-5.79,6.88,.6,17.35-3.58,28.93-11.35,.95-.64,1.92-1.31,2.9-2,3.05-2.17,6.15-4.56,9.28-7.21,3.75-3.13,7.54-6.59,11.27-10.32,2.79-2.79,5.44-5.62,7.91-8.44,.78-.88,1.54-1.77,2.27-2.65,2.64-3.13,5.05-6.23,7.22-9.28,9.14-12.78,14.14-24.51,13.48-32,2.4,.21,4.37,1.01,5.79,2.43,.74,.74,1.31,1.62,1.7,2.64,1.07,2.63,1.02,6.14,0,10.28-1.73,7.04-6.29,15.89-13.06,25.3-2.21,3.06-4.65,6.17-7.3,9.31-.75,.89-1.53,1.78-2.33,2.68-2.34,2.66-4.84,5.33-7.47,7.96-3.57,3.57-7.19,6.89-10.8,9.94-3.14,2.65-6.27,5.09-9.34,7.29-.97,.71-1.95,1.38-2.9,2.03Zm50.1,16.55c-.6,1.56-1.98,2.68-3.63,2.97-.78,.14-1.6,.21-2.48,.21-9.07,0-23.37-7.22-38.2-19.33,3.05-2.25,6.13-4.73,9.23-7.4,13.73,11.03,26.91,17.79,35.78,18.45,.07,1.93-.15,3.65-.71,5.11Zm11.68-13.17c-.22,2.33-1.01,4.23-2.41,5.63-1.42,1.43-3.39,2.22-5.79,2.43,.15-1.66,.01-3.53-.39-5.58-1.68-8.77-8.2-20.74-18.21-33.15,2.65-3.17,5.07-6.33,7.25-9.41,4.3,5.21,7.98,10.38,10.96,15.27,5.07,8.32,8.1,15.87,8.6,21.65v3.16Z"/>
      </svg>
      </div>
      <div class="px-6 pt-6 lg:px-[150px]">
        <nav class="flex items-center justify-between" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
              <span class="sr-only">Nucleus</span>
              <img class="h-10 lg:h-10" src="~/assets/images/logo.svg" alt="" />
            </a>
          </div>
          <div class="lg:flex lg:flex-1 lg:justify-end">
            <nuxt-link to="contact">
              <span class="rounded-md font-poppins bg-[#EA5B2B] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Contact Us</span>
            </nuxt-link>
          </div>
        </nav>
      </div>
      <main>
        <div class="relative px-6 lg:px-5">
          <div class="mx-auto lg:w-[989px] py-32 sm:py-48 lg:py-56">
            <div class="lg:text-center">
              <h1 class="text-4xl font-bold tracking-tight text-white sm:text-4xl font-poppins">Experience The Best of Decentralized Gaming <br><span class="gradient-text">Neutron</span> Is Coming.</h1>
              <p class="mt-6 text-lg sm:text-lg leading-8 text-gray-200 font-poppins">Be the first to know before we go live...</p>
              <form>
                <div class="mt-10 flex flex-col lg:items-center justify-center gap-x-6">
                  <div class="bg-gradient-to-r from-[#9089FC] to-[#EA5B2B] pt-0 pb-0.5 rounded-full w-full lg:w-[551px]">
                    <input v-model="form.email" type="text" name="" id="" class="bg-[#000000] text-white font-poppins border-0 rounded-full focus:border-0 focus:ring-0 w-full" placeholder="Type your email here...">
                  </div>
                  <!-- <img v-if="this.loading" src="~/assets/images/spinner.svg" class="h-3" alt=""> -->
                  <button type="button" @click="handleSubmit" class="gradient-button text-sm font-semibold font-poppins text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-5">
                    <span>Join the waitlist</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </template>
  
  <script>
  export default {
    name: 'Home',
    data() {
        return {
          done: false,
          form: {
              email: ''
          }
        }
    },
    methods: {
        async handleSubmit(e) {
          e.preventDefault();
          if(this.form.email.length > 0) {
            const postData = {
              'email': this.form.email
            }
            const { data: response } = await useFetch('http://nucleus.test/api/waitlist', {
                method: 'post',
                body: JSON.stringify(postData)
            })
            
            console.log(response);
            this.form.email = "";
            alert('You have been added to our waitlist!')
          } else {
             alert('Enter your email address')
          }
        }
    }
}
  </script>

<style scoped>
  .gradient-text {
    background: linear-gradient(91.09deg, #EA5B2B 37%, #05A6F0 50.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .gradient-button {
    margin-top: 20px;
    width: 297px;
    height: 42px;
    left: 573px;
    top: 666.73px;

    background: linear-gradient(92.69deg, #EA5B2B -12.54%, #271813 107.57%);
    border-radius: 20px;
  }
</style>